<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techie">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <activity
            android:name=".CategoryActivity"
            android:exported="false" />

        <activity
            android:name=".AirpodsActivity"
            android:exported="false" />

        <activity
            android:name=".HeadsetActivity"
            android:exported="false" />

        <activity
            android:name=".SpeakerActivity"
            android:exported="false" />

        <activity
            android:name=".SmartwatchActivity"
            android:exported="false" />

        <activity
            android:name=".MacbookActivity"
            android:exported="false" />

        <activity
            android:name=".PolaroidsActivity"
            android:exported="false" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />

        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />

        <activity
            android:name=".ConfirmationActivity"
            android:exported="false" />

        <activity
            android:name=".AccountActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>